<h4>Are you sure?</h4>
<div>
  This will remove the <%= filter_type %> <strong><%= filter_name %></strong> and all
  references within associated todos.
</div>
<div>
  <a id='cancel-filter-removal-confirmation-dialog' href="#" class="btn">Cancel</a>
  <a class='remove-filter-button-final btn btn-primary' filter-type='<%= filter_type %>' filter-id='<%= filter_id %>' href="#">Remove All</a>
</div>
