<table class='table-bordered table-striped todo-list-table' style='width: 100%'>
  <thead>
    <tr>
      <th style='width: 3%'>Complete</th>
      <th>Task</th>
      <th style='width: 3%'>Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
