<table class='table-bordered table-striped todo-list-table' style='width: 100%'>
  <thead>
    <tr>
      <th style='width: 3%'><span class='icon-check'></span></th>
      <th>Task</th>
      <th style='width: 70px'>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
