.navbar-fixed-top .nav > li
{
  display: inline !important;
  float: left!important;
}

.navbar-fixed-bottom .nav > li
{
  display: inline !important;
  float: left !important;
}

.navbar-fixed-top, .navbar-fixed-bottom
{
  position: fixed;
}

.navbar-fixed-bottom
{
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-bottom .nav > li
{
  margin-right: 10px;
  display: inline;
}

#add-todo-button-navitem
{
  width: 25%;
}

#new_todo
{
  width: 45%;
}

#todo_description
{
  width: 100%;
}

#add-todo-button
{
  width: 75px;
  float:left !important;
  display:inline-block !important;
  margin-top: 10px;
}

@media all and (max-width: 480px)  {
  .horizontal-mobile {
    float: left !important;
    margin-right: 5px !important;
  }

  #add-todo-button
  {
    margin-left: 20px;
    margin-top: 18px;
  }
}

.struck-through
{
  text-decoration: line-through;
}

#new_todo
{
  float:left; 
  border-top: none; 
  border-bottom: none; 
  box-shadow:none;
  display:inline;
  padding: 9px 15px;
  margin: 0px 0px;
}

.todo-badge:hover
{
  text-decoration: none;
}


