.navbar-bottom .nav > li
{
  display: inline !important;
  float: left!important;
}

.navbar-top .nav > li
{
  display: inline !important;
  float: left !important;
}

.navbar-bottom .nav > li
{
  margin-right: 10px;
  width: 20%;
  display: inline;
}

#add-todo-button-navitem
{
  width: 25%;
}

#new_todo
{
  width: 62%;
}

#todo_description
{
  width: 100%;
}

@media all and (max-width: 480px)  {
  .horizontal-mobile {
    float: left !important;
    margin-right: 5px !important;
  }
}

.struck-through
{
  text-decoration: line-through;
}

#new_todo
{
  float:left; 
  border-top: none; 
  border-bottom: none; 
  box-shadow:none;
  display:inline;
  padding: 9px 15px;
  margin: 0px 0px;
}

#add-todo-button
{
  margin: 18px 0;
  float:left !important;
  display:inline-block !important;
}
