<div>
<% if user_signed_in? %>
  <a href='/account'>Account</a>
  <%= link_to('Logout', destroy_user_session_path, {:method => :delete}) %>
<% else %>
  <%= link_to('Login', new_user_session_path, {:id => 'login-link'})  %>  
  <%= link_to('Signup', new_user_registration_path, {:id => 'signup-link'})  %>  
<% end %>
</div>
